<h1>Tasks#show</h1>

<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% if !@task.completed %>
<p>This task is not completed yet</p>
<% else %>
<p>This task is completed</p>
<% end %>


<%= link_to "edit the task", edit_path(@task) %>
<%= link_to "Delete this task", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<%= link_to "back to all of the tasks", tasks_path %>
